body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

.circulo-sombra{
    width: 100px;
    height: 100px;
}

.opacidad{
    max-width: 500px;
    min-width: 300px;
}